.block{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    line-height: 1;
    margin-bottom: -2rem;
    font-size: 3rem;
}

.locationIcon{
    width: 30px;
    height: 30px;
    fill: #fff;
    margin-right: 1rem;
}

