.block{
    display: flex;
    width: 50%;
}

.welcome{
    opacity: 0.5;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.text{
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-size: 5rem;
}

.group{
    display: flex;
}

.name{
    font-size: 2.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon{
    width: 30px;
    height: 30px;
    fill: #fff;
    margin-right: .5rem;
}

.duration{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
}

