.block{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    object-fit: cover;
    opacity: 0;
    animation-duration: 1s;
    animation-name: fadeOut;
}

.show{
    opacity: 1;
    animation-duration: 1s;
    animation-name: fadeIn
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}